<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rdb="http://www.dangdang.com/schema/ddframe/rdb"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.dangdang.com/schema/ddframe/rdb
                        http://www.dangdang.com/schema/ddframe/rdb/rdb.xsd">

    <bean id="dataSourceAnswer" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
        <property name="driverClassName" value="${ds.druid.driver}"/>

        <property name="url" value="${ds.druid.url_answer}"/>
        <property name="username" value="${ds.druid.username}"/>
        <property name="password" value="${ds.druid.password}"/>
        <!-- qa(dev) -->
        <!--<property name="url" value="jdbc:mysql://10.10.6.7:3306/neworiental_answer?useUnicode=true&amp;autoReconnect=true&amp;zeroDateTimeBehavior=convertToNull&amp;allowMultiQueries=true&amp;useSSL=true"/>-->
        <!-- hotfix -->
        <!--<property name="url" value="jdbc:mysql://10.10.6.7:3307/neworiental_answer?useUnicode=true&amp;autoReconnect=true&amp;zeroDateTimeBehavior=convertToNull&amp;allowMultiQueries=true&amp;useSSL=true"/>-->
        <!--<property name="url" value="jdbc:mysql://172.18.4.5:3306/neworiental_answer?useUnicode=true&amp;autoReconnect=true&amp;zeroDateTimeBehavior=convertToNull&amp;allowMultiQueries=true"/>-->
        <!--<property name="username" value="reader"/>
        <property name="password" value="1a2s3dqwe"/>-->
        <property name="initialSize" value="${ds.druid.initialSize}"/>
        <property name="minIdle" value="${ds.druid.minIdle}"/>
        <property name="maxActive" value="${ds.druid.maxActive}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${ds.druid.timeBetweenEvictionRunsMillis}"/>
        <property name="minEvictableIdleTimeMillis" value="${ds.druid.minEvictableIdleTimeMillis}"/>
        <property name="filters" value="${ds.druid.filters}"/>
        <property name="proxyFilters">
            <list>
                <ref bean="stat-filter"/>
            </list>
        </property>
    </bean>
    <rdb:strategy id="answerTableStrategy" sharding-columns="year,class_id,student_id"
                  algorithm-class="com.noriental.praxissvr.answer.sharding.AnswerShardingAlgorithm"/>
    <rdb:strategy id="errorTableStrategy" sharding-columns="student_id"
                  algorithm-class="com.noriental.praxissvr.answer.sharding.ErrorShardingAlgorithm"/>
    <rdb:strategy id="stuKnowTableStrategy" sharding-columns="student_id"
                  algorithm-class="com.noriental.praxissvr.answer.sharding.StuQuesShardingAlgorithm"/>

    <rdb:data-source id="shardingDataSource">
        <rdb:sharding-rule data-sources="dataSourceAnswer">
            <rdb:table-rules>
                <rdb:table-rule logic-table="entity_student_exercise"
                                actual-tables="entity_student_exercise_${2015..2020}_${0..49}"
                                table-strategy="answerTableStrategy"/>
                <rdb:table-rule logic-table="entity_student_error_exe" actual-tables="entity_student_error_exe_${0..99}"
                                table-strategy="errorTableStrategy"/>
                <rdb:table-rule logic-table="entity_stu_ques_knowledge"
                                actual-tables="entity_stu_ques_knowledge_${0..99}"
                                table-strategy="stuKnowTableStrategy"/>
            </rdb:table-rules>
            <rdb:binding-table-rules>
                <rdb:binding-table-rule
                        logic-tables="entity_student_exercise, entity_student_error_exe,entity_stu_ques_knowledge"/>
            </rdb:binding-table-rules>
        </rdb:sharding-rule>
    </rdb:data-source>

    <!--sql sessionFactory -->
    <bean id="shardingSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mappers/shard/mybatis-config.xml"/>
        <property name="dataSource" ref="shardingDataSource"/>
        <property name="mapperLocations" value="classpath*:mappers/shard/*.map.xml"/>
        <property name="plugins">
            <list>
                <ref bean="paginationInterceptor"/>
                <ref bean="sqlCostInterceptor"/>
            </list>
        </property>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.noriental.praxissvr.answer.dao"/>
        <property name="sqlSessionFactoryBeanName" value="shardingSqlSessionFactory"/>
    </bean>
</beans>